/*
Colors used:
Primary pink: #e84393;
Secondary pink: #9c1e5a;
Primary blue: #258c9c
Secondary blue: #2ccfe8
Accent yellow: #e8d85a;
Light gray: #ebedef;
Dark gray: #707070;
*/
/* || Typography */
html {
  font-size: 120%;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #000000;
}

p {
  margin-bottom: 1.15rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  font-size: .85em;
  color: #000000
}

h1, h2, h3, h4 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  font-size: 3.052em;
  font-weight: 400;
  color: #9c1e5a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  color: #9c1e5a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  color: #9c1e5a;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  font-weight: 700;
  color: #e84393;
}

small, .text_small {
  font-size: 0.8em;
  color: #707070
}

.large {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5em !important;
}

.pink {
  color: #e84393 !important;
}

.bg-gray {
  background-color: #ebedef !important;
  padding: 40px 0;
}
/* || End typography */
/* || Image size */
img {
  width: 100%;
}

/* || End image size */
/* SVG sizes */
.logo {
  max-width: 150px;
  max-height: auto;
  padding-top: 15px;
}

.icon {
  max-width: 24px;
}

.icon-large {
  max-width: 150px;
}

/* End SVG sizes */
/* || Links */
a:visited {
  color: #551A8B;
}

a:hover,
a:focus {
  color: #258c9c;
  text-decoration: underline;
}

a:active {
  color: #2ccfe8
}

/* End links */
/* Buttons */
.btn {
  display: inline-block;
  background-color: #258c9c;
  color: #ffffff !important;
  text-decoration: none !important;
  font-variant: none !important;
  font-weight: 700;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  border-bottom: 2px solid #12474F;
  transition-duration: 0.2s;
  transition-property: 'background-color';
}

.btn:hover {
  background-color: #12474F;
  color: #ffffff;
}

.btn:active {
  background-color: #258c9c;
}

.btn::after {
  content: '\203A';
  padding-left: 10px;
}

/* End buttons */
/* Navigation */
header {
  background-color: #e84393;
  text-align: center;
}

.nav {
  display: inline-block;
  width: 100%;
  font-size: 1.1em;
}

.nav a {
  color: #ffffff !important;
  text-decoration: none !important;
  font-variant: small-caps;
  font-weight: 700;
}

.nav a:hover,
.nav a:focus {
  color: #e8d85a !important;
}

.nav ul {
  list-style: none !important;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  padding: 0 15px;
}

.bttm-nav {
  display: inline-block;
  width: 100%;
  font-size: 1.1em;
  margin-top: -20px;
}

.bttm-nav a {
  color: #ffffff !important;
  text-decoration: none !important;
  font-variant: small-caps;
  font-weight: 700;
}

.bttm-nav a:hover,
.bttm-nav a:focus {
  color: #e8d85a !important;
}

.bttm-nav ul {
  list-style: none !important;
  padding: 0;
}

.bttm-nav ul li {
  display: inline-block;
  padding: 0 15px;
}

#main {
  text-decoration: underline !important;
  text-decoration-color: #e8d85a !important;
}

/* End navigation */
/* Main body list style */
main ul {
  list-style: none !important;
}

main ul.columns  {
   -webkit-columns: 60px 2;
   -moz-columns: 60px 2;
    columns: 60px 2;
   -moz-column-fill: auto;
   column-fill: auto;
 }

main ul li::before {
  content: "\2022";
  color: #9c1e5a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
main ul li {
  margin: 10px 0;
}

main ol {
  list-style: none;
  counter-reset: li;
}

main ol li::before {
  content: counter(li);
  color: #9c1e5a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  counter-increment: li;
}

main ol.columns  {
   -webkit-columns: 60px 2;
   -moz-columns: 60px 2;
    columns: 60px 2;
   -moz-column-fill: auto;
   column-fill: auto;
 }

main ol li {
  margin-bottom: 10px 0;
}

#hero {
  margin-top: 60px;
}

#ink-tank h3 {
  margin-top: 0px;
}

#wordstorm h3 {
  margin-top: 0px;
}

#skills h3 {
  margin-top: 0px;
}
/* End main body list style */
/* Contact section */
#contact {
  background-color: #e84393;
  padding: 10px 0;
  margin-top: 40px;
}

#contact p {
  color: #ffffff;
}

#contact ul {
  list-style: none !important;
}

.disclaimer {
  font-size: 0.8em !important;
}

/* Contact section */
/*Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.offset {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.offset-lg {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.offset-xl {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.offset-sm {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}

/* End layout styling */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  p {
    font-size: 1em;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33%;
  }

  .left {
    float: left;
    display: inline-block;
  }

  .right {
    float: right;
    display: inline-block;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (max-width: 767px) {
  .logo {
    max-width: 50px;
    text-align: unset;
    padding-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  h1.rspnv {
    font-size: 2.4em;
  }

  h2.rspnv {
    font-size: 2.1em;
  }

  main ol.columns  {
     -webkit-columns: 60px 1;
     -moz-columns: 60px 1;
      columns: 60px 1;
     -moz-column-fill: auto;
     column-fill: auto;
   }
}

[class*="col-"] {
  padding: 0 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}
