/*
Colors used:
Primary pink: #e84393;
Secondary pink: #9c1e5a;
Primary blue: #258c9c
Secondary blue: #2ccfe8
Accent yellow: #e8d85a;
Light gray: #ebedef;
Dark gray: #707070;
*/
/* || Typography */
html {
  font-size: 131.3%;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #000000;
}

p {
  margin-bottom: 1.15rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #000000
}

h1, h2, h3, h4 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  font-size: 3.052em;
  font-weight: 400;
  color: #9c1e5a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  color: #9c1e5a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  color: #9c1e5a;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  font-weight: 700;
  color: #e84393;
}

small, .text_small {
  font-size: 0.8em;
  color: #707070
}

.large {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.953em !important;
}

@media screen and (min-width: 601px) {
  h1.rspnv {
    font-size: 3.052em;
  }
}

@media screen and (max-width: 600px) {
  h1.rspnv {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 601px) {
  h2.rspnv {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 600px) {
  h2.rspnv {
    font-size: 2.1em;
  }
}

.pink {
  color: #e84393 !important;
}

/* || End typography */
/* || Image size */
img {
  width: 100%;
}

/* || End image size */
/* SVG sizes */
.logo {
  max-width: 150px;
}

.icon {
  max-width: 24px;
}

.icon-large {
  max-width: 150px;
}

/* End SVG sizes */
/* || Links */
a:visited {
  color: #551A8B;
}

a:hover,
a:focus {
  color: #258c9c;
  text-decoration: underline;
}

a:active {
  color: #2ccfe8
}

/* End links */
/* Buttons */
.btn {
  display: inline-block;
  background-color: #258c9c;
  color: #ffffff !important;
  text-decoration: none !important;
  font-variant: none !important;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 2px solid #12474F;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.btn:hover {
  background-color: #12474F;
  color: #ffffff;
}

.btn:active {
  background-color: #258c9c;
}

/* End buttons */
/* Navigation */
header {
  background-color: #e84393;
  padding: 10px 0;
  margin-bottom: 40px;
  text-align: center;
}

.nav a {
  color: #ffffff !important;
  text-decoration: none !important;
  font-variant: small-caps;
  font-weight: 700;
}

.nav a:hover,
.nav a:focus {
  color: #e8d85a !important;
}

.nav ul {
  list-style: none !important;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  padding: 0 15px;
}

#main {
  text-decoration: underline !important;
  text-decoration-color: #e8d85a !important;
}

/* End navigation */
/* Main body list style */
main ul {
  list-style: none !important;
}

main ul li::before {
  content: "\2022";
  color: #9c1e5a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main ol {
  list-style: none;
  counter-reset: li
}

main ol li::before {
  content: counter(li);
  color: #9c1e5a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  counter-increment: li;
}

/* End main body list style */
/* Contact section */
#contact {
  background-color: #e84393;
  padding: 10px 0;
  margin-top: 40px;
}

#contact p {
  color: #ffffff;
}

#contact ul {
  list-style: none !important;
}

.disclaimer {
  font-size: 0.5em !important;
}

/* Contact section */
/*Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

/* End layout styling */
